/* general styles */

body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  justify-content: center;
}


h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

/* header */

header {
  display: inline-flex;
  position: fixed;
  background-color: black;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  top: 0;
  left: 0;

}

.logo {
display: flex;
flex: 1 1;
padding-left: 10px;
height: 50px;
padding: 10 10 9 10;

}

nav span {
height: 22px;
display: inline-flex;
flex-flow: column wrap;
flex: 1 1;
align-content: flex-end;
align-items: center;
justify-content: space-around;
overflow: scroll;
padding-right: 10px;
}

a {
  color: seashell;
}

.p {
margin-top: 10px;
}

/* our mission */

.mission {
  background-image: url("../images/mission.jpg");
  left: 0;
  margin-top: 70px;
  width: 1200px;
  height: 700px;
  display: flex;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
  flex: 1 1;
  flex-flow: column wrap;
  }

#mission-content {
  width: 1200px;
  background-color: black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

/* tea of the month */

.types1 {
width: 1000px;
display: inline-flex;
}

.types2 {
  width: 650px;
  display: inline-flex;
}

img.berry img.rum img.donut img.myrtle img.bedford {
  height: 200px;
  width: 300px;
  display: inline-flex;
  flex: 1 1;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.berry .rum .donut .myrtle .bedford {
display: inline-flex;
flex: 1 1;
flex-flow: row wrap;
justify-content: center;
}

p .berry .rum .donut .myrtle .bedford {
  margin-top: 10px;
}

.berry .rum .donut {
  margin-right: 50px;
}

  /* locations */

  .locations h2 {
    text-align: center;
  }

img.locations-image {
  height: 500px;
  width: 1200px;
}

.locations-text {
    background-image: url("../images/locations.jpg");
  }


  #downtown #bayside #oakdale {
    background-color: black;
    width: 1200px;
    height: 500px;
    padding: 10 10 10 10;
    width: 100px;
    flex: 1 1;
    justify-content: space-around;
    display: inline-flex;

  }

  #downtown #bayside {
   margin-right: 40px;
  }


#copyright {
text-align: left;
margin-left: 20px;
}
